body
{
    background-color: rgb(240, 222, 201);
}

.baslik .b1
{
    display: block;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 15vh;
}

.baslik .b1 h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: chocolate;
}

.gövde 
{
    display: flex;
    
    gap: 80px;
    
    width: 100%;
    height: 100vh;
    
}

.gövde .mer
{
    
    
    width: 50%;
    height: 80vh;
    border: 3px rgb(201, 175, 175) solid;
    border-radius: 10px;
    
    
      
}

.gövde .mer .kisim1 img
{
    width: 100%;
    
    opacity: 0;
    display: block;
    backface-visibility: hidden;
    height: 80vh;
    transition: .5s ease;
    
}

.gövde .mer .kisim1 a
{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    backface-visibility: visible;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    
}



.gövde .mer:hover .kisim1 a
{
    opacity: 0,3;
}

.gövde .mer:hover .kisim1 img
{
    opacity: 1;
}







.gövde .akar
{
    
    
    width: 50%;
    height: 80vh;
    border: 3px rgb(201, 175, 175) solid;
    border-radius: 10px;
    
    
    
}

.gövde .akar .kisim2 img
{
    width: 100%;
    
    opacity: 0;
    display: block;
    backface-visibility: hidden;
    height: 80vh;
    transition: .5s ease;
    
}

.gövde .akar .kisim2 a
{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    backface-visibility: visible;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    
}



.gövde .akar:hover .kisim2 a
{
    opacity: 0,3;
}

.gövde .akar:hover .kisim2 img
{
    opacity: 1;
}
